<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <link href="/css/menu-style.css" rel="stylesheet"/>

</head>

<header th:fragment="header">
    <div class="header-top-container">
        <div id="logo-container">
            <a href='/'><p> ADD LOGO - Beer your way</p></a>
        </div>
        <div id="lang-container">
            <span th:text="${loginEmail}">Logged in as</span>
            <a href="?lang=ro"><img src="/images/ro.png"></a>
            <a href="?lang=en"><img src="/images/en.png"></a>
        </div>
    </div>
    <div id='cssmenu' class="menu-area">
        <ul>
            <li><a href='/'><span>Home</span></a></li>
            <li class='active has-sub'><a href='#'><span th:text="#{search.menu}"/></a>
                <ul>
                    <li class='has-sub'><a href='/pubs'><span th:text="#{search.menu.company}"/></a></li>
                    <li class='has-sub'><a href='#'><span th:text="#{search.menu.beer}"/></a>
                        <ul>
                            <li><a href='#'><span>Sub Product</span></a></li>
                            <li class='last'><a href='#'><span>Sub Product</span></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href='#'><span>About</span></a></li>
            <li th:if="${loginEmail != null}" class='last nav navbar-nav navbar-right'>
                <a href='#' id="logout-link"><span th:text="#{account.logout}"/></a>
            </li>
            <li th:if="${loginEmail != null}" class='last nav navbar-nav navbar-right'>
                <a href='/account' id="my-account-link"><span th:text="#{account.my.account}"/></a>
            </li>
            <li th:if="${loginEmail == null}" class='last nav navbar-nav navbar-right'>
                <a href='/login'><span th:text="#{account.login}"/></a>
            </li>
        </ul>
    </div>
    <form id="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Sign Out"/>
    </form>
</header>