
<header>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <link href="/css/menu-style.css" rel="stylesheet"/>
    <link href="/css/map.css" rel="stylesheet"/>
</header>

<footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/pubs.map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCx60Wp02pdfcu5Lef_l_eyhdAWftzowHA&amp;callback=initMap"
            async="async" defer="defer"></script>
</footer>


