header {
    position: relative;
    background-image: url("../images/header-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    padding: 50px 0;
}

.login-form{
 position: relative;
 padding: 50px;
}

#lang-container{
    float:right;
}

.header-top-container{
    overflow:auto;
}

#logo-container{
    float:left;
}