header {
    position: relative;
    background-image: url("../images/header-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
}
footer{
    background-color: #080808;
}
.main-content-container{
    min-height: 600px;
}
.login-form{
 position: relative;
 padding: 50px;
}

#lang-container{
    float:right;
}

.header-top-container{
    overflow:auto;
    margin-top:0px;
}

#logo-container{
    float:left;
}
.form-input-label{
    float: left; width: 6em; text-align: left;
    padding-right:5px;
}

.main-content-container, .beer-search-panel{
    padding-top:20px;

}.beer-search-panel{
    max-width:60%;
}