<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header::head"/>
<body>
<nav th:replace="fragments/header :: header"></nav>
<div class="container">
    <div class="centered login-form">
        <div class="alert alert-warning" th:if="${error}">Invalid email or password!</div>
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <input type="email" name="username" id="email"
                       placeholder="user@example.com" required="required"
                       autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <input type="password" name="password" id="password"
                       placeholder="password" required="required"/>
            </div>
            <button type="submit" class="btn">
                Sign in
            </button>
    </div>
    </form>
</div>
<div>
</body>
</html>
